<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>椭圆_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,13}</string>
                <key>spriteSourceSize</key>
                <string>{23,13}</string>
                <key>textureRect</key>
                <string>{{0,0},{23,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>椭圆_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,12}</string>
                <key>spriteSourceSize</key>
                <string>{18,12}</string>
                <key>textureRect</key>
                <string>{{0,13},{18,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>矩形_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,26}</string>
                <key>spriteSourceSize</key>
                <string>{5,26}</string>
                <key>textureRect</key>
                <string>{{18,13},{5,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>矩形_3_副本.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,937}</string>
                <key>spriteSourceSize</key>
                <string>{5,937}</string>
                <key>textureRect</key>
                <string>{{23,13},{5,937}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>矩形_3_副本_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{24,26}</string>
                <key>textureRect</key>
                <string>{{0,950},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>heji.png</string>
            <key>size</key>
            <string>{28,976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:beaa52642d1d0f5f503d10dc6a6b105f:26cde57615f6b50b6c2e63342380576b:15c645a724c114d72606ce05c7413116$</string>
            <key>textureFileName</key>
            <string>heji.png</string>
        </dict>
    </dict>
</plist>
